/* Add your custom CSS styles here */

body {
    background-color: #f8f9fa;
    max-width: 100%;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #313154;
    font-weight: 500;
}

.btn-primary {
    background : linear-gradient(135deg, #4b0c40, #1752a0);
    margin-top:30px;
    border: none;
    transition: all 0.2s ease;
}

/* Add CSS styles for the player list */
.list-group {
    margin-top: 20px;
}

.list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    margin-bottom: 5px;
    font-weight: 500;
}

.list-group-item:last-child {
    margin-bottom: 0;
}
.done {
    text-decoration: line-through;
    color: #888; /* Change text color for marked players if desired */
}
/* Add CSS styles for the random position generator */
/* #generatePositionButton {
    background-color: #007bff;
    border-color: #007bff;
    margin-top: 20px; /* Adjust margin as needed *


#generatePositionButton:hover {
    background-color: #0056b3;
    border-color: #0056b3;
} */

#randomPosition {
    color: #313154;
    margin-top: 10px;
    text-align: center;
}


